<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <springProfile name="default">
        <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

        <logger name="org.springframework" level="INFO"/>
        <logger name="org.hibernate" level="INFO"/>
        <logger name="com.microgis" level="DEBUG"/>
        <root level="ERROR">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

    <springProfile name="prod">
        <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>
        <property name="HOME_LOG" value="mobileLogs/app.log"/>

        <appender name="FILE-ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>${HOME_LOG}</file>

            <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
                <fileNamePattern>mobileLogs/app.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
                <!-- each archived file, size max 100MB -->
                <maxFileSize>100MB</maxFileSize>
                <maxHistory>10</maxHistory>
                <!-- total size of all archive files, if total size > 1GB, it will delete old archived file -->
                <totalSizeCap>1GB</totalSizeCap>
                <!-- 8 days to keep -->
                <maxHistory>7</maxHistory>
            </rollingPolicy>

            <encoder>
                <pattern>%d{yyyy-MM-dd} | %d{HH:mm:ss.SSS} | %-15.15thread | %5p | %-35.35logger{35} | %m%n</pattern>
            </encoder>
        </appender>

        <logger name="org.springframework" level="INFO"/>
        <logger name="org.hibernate" level="INFO"/>
        <logger name="com.microgis" level="DEBUG"/>

        <root level="ERROR">
            <appender-ref ref="FILE-ROLLING"/>
        </root>

        <root level="ERROR">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

</configuration>